services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.5
    container_name: jellyfin
    # user: hisbaan:gid
    # network_mode: "host"
    volumes:
      - /mnt/nas/docker/jellyfin/config:/config
      - /mnt/nas/docker/jellyfin/cache:/cache
      - /mnt/nas/media/media:/media
    restart: always # "unless-stopped"
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.hisbaan.com
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      labnet:
        ipv4_address: 172.20.0.3
networks:
  labnet:
    external: true
