services:
  app:
    container_name: nginx-proxy-manager
    image: 'jc21/nginx-proxy-manager:latest'
    restart: always # unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - /mnt/nas/docker/nginx-proxy-manager/data:/data
      - /mnt/nas/docker/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
    networks:
      labnet:
        ipv4_address: 172.20.0.2

networks:
  labnet:
    external: true
